.wrapper {
  padding-top: 30px;
}

body h3 {
  margin-bottom: 55px;
}

.navbar-brand a {
  color: #ffffff;
}

.form-wrapper,
.table-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.table-wrapper {
  max-width: 100%;
  float:left;
}

.form-headings{
  font-size: 20px;
  font-weight: bold;
}

.edit-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
  margin-bottom: 15px;
}

.edit-link:hover {
  text-decoration: none;
  color: #ffffff;
}

.demoForm {
	width: 500px;
	margin: auto;
}


.App-header {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  
}

.edit-buttons{
  display: flex;
  flex-direction: row;
}

.delete{
  height: 32px;
  width: 38px;
}

